AuthType Basic   
AuthName "Private zone. Only for administrator!" 
AuthUserFile  /OpenServer/domains/bw.dev/backend/web/.htpasswd   
require user admin
RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php
# use index.php as index file
DirectoryIndex index.php